<div class="backdrop"></div>


  <div class="modal-window">
    <span class="close" (click)="close.emit()"></span>

    <div class="modal-header">
        <span>Invest in Loan</span>
    </div>

    <div class="modal-body">
        <span class = "modal-body-title">Loan title you’ve clicked</span>
        <span class="modal-body-amount">Amount available: $12,362</span>
        <span class="modal-body-ends">Loan ends in: 1 month 10 days</span>
    </div>

     <div class="modal-subheader">
        <span>Investment amount</span>
     </div>

     <div class="modal-footer">
        <input type="text" class="modalInput">
        <button class="mainBtn">invest</button>
     </div>
</div>


